body {
    background-color: rgb(41, 49, 49);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

a {
    color: rgb(137, 238, 238);
}

p {
    margin: 0 auto;
    max-width: 800px;
}

header,
.video {
    background-color: black;
}

#titleimage {
    height: 100%;
    width: 100%;
    max-width: 640px;
    max-height: 295px;
}

table {
    width: 320px;
    text-align: left;
    margin: 0 auto;
}

#trailer {
    border: 0;
}

footer {
    height: 50px;
    width: 100%;
    background-color: rgb(71, 71, 71);
    position: relative;
    display: flex;
    justify-content: center;
}

#footertext {
    color: rgb(212, 212, 212);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}